@import url("portfolio/components/header/header.css");

.standard-page {
    background-color: #ffffff;
    padding: 24px;
}

.page-title {
    font-size: large;
    color: #474747;
    font-family: Arial, Helvetica, sans-serif;
}

.header1 {
    font-size: medium;
    color: #474747;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    font-size: small;
    color: #474747;
    font-family: Arial, Helvetica, sans-serif;
}