<div class="header">
    <div class="pg-title" id="page-title">{pageTitle}</div>
    <nav> 
        <a href="index.html" class="nav-button">Home</a>
        <a href="about.html" class="nav-button">About Me</a>
        <a href="projects.html" class="nav-button">Projects</a>
        <a href="contact.html" class="nav-button">Contact</a>
    </nav>
</div>  
<script>
    // Ensure the script runs after the DOM is fully loaded
    document.addEventListener("DOMContentLoaded", function() {
        // Use the variable from header.js
        document.getElementById("page-title").innerText = pageTitle;
    });
</script>