.header {
    border: 1px solid #474747;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    background-color: none;
    border-radius: 5em;
    margin-bottom: 24px;
}

.logo-icon {
    height: 24px;
    width: 22px;
}

.page-title {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #474747;
    font-weight: 800;
}

.nav-button {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: #474747;
    font-weight: 600;
    padding: 8px;
    text-decoration: none;
    

    .hover {
        background-color: #5d00a9;
        color: whitesmoke;
        font-weight: 700;
        border-radius: 5em;
        text-decoration: underline;
    }
}