.header {
    border: 1px solid #727272;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: medium;
    background-color: none;
}

.nav-button {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #5d00a9;
    color: whitesmoke;
    font-weight: bold;
    padding: 12px;
    border: 1px solid #727272;
    text-decoration: none;
}