<div class="header">
    <img style="height: 24px; width: 22px;" id="logo-image" src='/portfolio/assets/cat.png' alt="Black cat logo"></img>
    <div class="page-title" id="page-title"></div>
    <nav> 
        <a href="index.html" class="nav-button">Home</a>
        <a href="about.html" class="nav-button">About Me</a>
        <a href="projects.html" class="nav-button">Projects</a>
        <a href="contact.html" class="nav-button">Contact</a>
    </nav>
</div>  
<script>
    document.getElementById("page-title").innerText = pageTitle;
    document.getElementById("logo-image").innerText = logoImage;
</script>